<div class="products-wrap mt-100 border-top-0">
    <div class="container-fluid">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Enjoy Shoping with E-Market</h2>
            </div>
        </div>

        <div class="row no-gutters products mt-50">
          <div class="col-6 col-md-6 col-lg-4" *ngFor="let product of products">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar   >
                     <img mat-card-avatar src="{{product.productPicture[0].productPicture}}" alt="User Avatar"></div>
                  <mat-card-title>{{product.productType}}</mat-card-title>
                  <mat-card-subtitle>{{product.productName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src="{{product.productPicture[0].productPicture}}" alt="Photo of a {{product.productName}}">
                <mat-card-content>
                  <p>
                    {{product.productDetail}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="goToProduct(product._id)">Detail</button>
                  <button mat-button>+Cart</button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>

    </div>
</div>

<!-- 
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToProduct()">LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->